.nav {
    position: fixed !important;
    width: 100%;
    overflow-x: hidden;
    /* top: 0;  */
    background-color: #fff;
    /* Example background color */
    z-index: 999;
    /* Specify the z-index value */
}
